NiFiTemplate/TwitterToCloudAndHdfs.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description></description><name>TwitterToSolrCloudAndHDFS</name><snippet><connections><id>6c49d5bb-97f4-495e-9595-aae1531d6461</id><parentGroupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</groupId><id>0eb49eb8-37ae-406e-b3e1-85e794bb6116</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</groupId><id>0afca0ed-37b4-4f5c-906a-b78dd74c9745</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>8dda6159-ca08-4d6b-b229-9d01cf9b210e</id><parentGroupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</groupId><id>1fe5dc0f-ef2c-44a5-832f-e5c4af89730a</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</groupId><id>4a6d2525-65ca-4286-bab2-c4de46377b81</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>cd1ffe0f-a9d4-43f7-b038-862b99a2e473</id><parentGroupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</groupId><id>e3b9d716-a9cb-4a8b-8fae-0a88cab57d2d</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>merged</selectedRelationships><source><groupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</groupId><id>0eb49eb8-37ae-406e-b3e1-85e794bb6116</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>81b74ca2-762c-4d46-b458-575e09841869</id><parentGroupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</groupId><id>2fbbfc1b-b600-4398-b6fc-2448511328d7</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>matched</selectedRelationships><source><groupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</groupId><id>1fe5dc0f-ef2c-44a5-832f-e5c4af89730a</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>bc30c650-29a9-400e-8a9f-f39976de7f5d</id><parentGroupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</groupId><id>d9dac9f3-a66e-4b71-add1-522dff954283</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>tweet</selectedRelationships><source><groupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</groupId><id>2fbbfc1b-b600-4398-b6fc-2448511328d7</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>ccc930ce-1f4b-4e0e-9026-09332ba0b8ef</id><parentGroupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</groupId><id>0afca0ed-37b4-4f5c-906a-b78dd74c9745</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>tweet</selectedRelationships><source><groupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</groupId><id>2fbbfc1b-b600-4398-b6fc-2448511328d7</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>4564fb73-235f-4c73-9528-d3ac229599a6</id><parentGroupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>390.15168867266897</x><y>810.7239643462074</y></bends><bends><x>239.15168867266897</x><y>810.7239643462074</y></bends><destination><groupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</groupId><id>e3b9d716-a9cb-4a8b-8fae-0a88cab57d2d</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</groupId><id>e3b9d716-a9cb-4a8b-8fae-0a88cab57d2d</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><labels><id>60203428-62a8-4c20-a330-70de18ebb719</id><parentGroupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</parentGroupId><position><x>73.07799338294029</x><y>73.70984148120559</y></position><height>20.0</height><label>Tweets</label><style><entry><key>font-size</key><value>12px</value></entry></style><width>888.5089111328125</width></labels><processors><id>4a6d2525-65ca-4286-bab2-c4de46377b81</id><parentGroupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</parentGroupId><position><x>87.77607069171194</x><y>106.38344539479138</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Twitter Endpoint</key><value><allowableValues><description>The endpoint that provides public data, aka a 'garden hose'</description><displayName>Sample Endpoint</displayName><value>Sample Endpoint</value></allowableValues><allowableValues><description>The endpoint that provides access to all tweets</description><displayName>Firehose Endpoint</displayName><value>Firehose Endpoint</value></allowableValues><allowableValues><description>Endpoint that allows the stream to be filtered by specific terms or User IDs</description><displayName>Filter Endpoint</displayName><value>Filter Endpoint</value></allowableValues><defaultValue>Sample Endpoint</defaultValue><description>Specifies which endpoint data should be pulled from</description><displayName>Twitter Endpoint</displayName><dynamic>false</dynamic><name>Twitter Endpoint</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Consumer Key</key><value><description>The Consumer Key provided by Twitter</description><displayName>Consumer Key</displayName><dynamic>false</dynamic><name>Consumer Key</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Consumer Secret</key><value><description>The Consumer Secret provided by Twitter</description><displayName>Consumer Secret</displayName><dynamic>false</dynamic><name>Consumer Secret</name><required>true</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Access Token</key><value><description>The Access Token provided by Twitter</description><displayName>Access Token</displayName><dynamic>false</dynamic><name>Access Token</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Access Token Secret</key><value><description>The Access Token Secret provided by Twitter</description><displayName>Access Token Secret</displayName><dynamic>false</dynamic><name>Access Token Secret</name><required>true</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Languages</key><value><description>A comma-separated list of languages for which tweets should be fetched</description><displayName>Languages</displayName><dynamic>false</dynamic><name>Languages</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Terms to Filter On</key><value><description>A comma-separated list of terms to filter on. Ignored unless Endpoint is set to 'Filter Endpoint'. The filter works such that if any term matches, the status update will be retrieved; multiple terms separated by a space function as an 'AND'. I.e., 'it was, hello' will retrieve status updates that have either 'hello' or both 'it' AND 'was'</description><displayName>Terms to Filter On</displayName><dynamic>false</dynamic><name>Terms to Filter On</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>IDs to Follow</key><value><description>A comma-separated list of Twitter User ID's to follow. Ignored unless Endpoint is set to 'Filter Endpoint'.</description><displayName>IDs to Follow</displayName><dynamic>false</dynamic><name>IDs to Follow</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Locations to Filter On</key><value><description>A comma-separated list of coordinates specifying one or more bounding boxes to filter on.Each bounding box is specified by a pair of coordinates in the format: swLon,swLat,neLon,neLat. Multiple bounding boxes can be specified as such: swLon1,swLat1,neLon1,neLat1,swLon2,swLat2,neLon2,neLat2.Ignored unless Endpoint is set to 'Filter Endpoint'.</description><displayName>Locations to Filter On</displayName><dynamic>false</dynamic><name>Locations to Filter On</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Twitter Endpoint</key><value>Filter Endpoint</value></entry><entry><key>Consumer Key</key><value>lm2k1Y3LIJGwazxfCuJ3P2rxm</value></entry><entry><key>Consumer Secret</key></entry><entry><key>Access Token</key><value>248209052-4wnd34I8fZhX2tm7VEe4RGLe74JdF5LfgHxd0K9P</value></entry><entry><key>Access Token Secret</key></entry><entry><key>Languages</key></entry><entry><key>Terms to Filter On</key><value>hortonworks,AAPL,GOOG,MSFT,ORCL,WhenImOldPleaseRemindMe</value></entry><entry><key>IDs to Follow</key></entry><entry><key>Locations to Filter On</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Grab Garden Hose</name><relationships><autoTerminate>false</autoTerminate><description>All status updates will be routed to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.twitter.GetTwitter</type></processors><processors><id>0eb49eb8-37ae-406e-b3e1-85e794bb6116</id><parentGroupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</parentGroupId><position><x>635.8533012218672</x><y>670.7585915382796</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Merge Strategy</key><value><allowableValues><description>Generates 'bins' of FlowFiles and fills each bin as full as possible. FlowFiles are placed into a bin based on their size and optionally their attributes (if the &lt;Correlation Attribute&gt; property is set)</description><displayName>Bin-Packing Algorithm</displayName><value>Bin-Packing Algorithm</value></allowableValues><allowableValues><description>Combines fragments that are associated by attributes back into a single cohesive FlowFile. If using this strategy, all FlowFiles must have the attributes &lt;fragment.identifier&gt;, &lt;fragment.count&gt;, and &lt;fragment.index&gt; or alternatively (for backward compatibility purposes) &lt;segment.identifier&gt;, &lt;segment.count&gt;, and &lt;segment.index&gt;. All FlowFiles with the same value for &quot;fragment.identifier&quot; will be grouped together. All FlowFiles in this group must have the same value for the &quot;fragment.count&quot; attribute. All FlowFiles in this group must have a unique value for the &quot;fragment.index&quot; attribute between 0 and the value of the &quot;fragment.count&quot; attribute.</description><displayName>Defragment</displayName><value>Defragment</value></allowableValues><defaultValue>Bin-Packing Algorithm</defaultValue><description>Specifies the algorithm used to merge content. The 'Defragment' algorithm combines fragments that are associated by attributes back into a single cohesive FlowFile. The 'Bin-Packing Algorithm' generates a FlowFile populated by arbitrarily chosen FlowFiles</description><displayName>Merge Strategy</displayName><dynamic>false</dynamic><name>Merge Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Merge Format</key><value><allowableValues><description>A bin of FlowFiles will be combined into a single TAR file. The FlowFiles' &lt;path&gt; attribute will be used to create a directory in the TAR file if the &lt;Keep Paths&gt; property is set to true; otherwise, all FlowFiles will be added at the root of the TAR file. If a FlowFile has an attribute named &lt;tar.permissions&gt; that is 3 characters, each between 0-7, that attribute will be used as the TAR entry's 'mode'.</description><displayName>TAR</displayName><value>TAR</value></allowableValues><allowableValues><description>A bin of FlowFiles will be combined into a single ZIP file. The FlowFiles' &lt;path&gt; attribute will be used to create a directory in the ZIP file if the &lt;Keep Paths&gt; property is set to true; otherwise, all FlowFiles will be added at the root of the ZIP file. The &lt;Compression Level&gt; property indicates the ZIP compression to use.</description><displayName>ZIP</displayName><value>ZIP</value></allowableValues><allowableValues><description>A bin of FlowFiles will be combined into a single Version 3 FlowFile Stream</description><displayName>FlowFile Stream, v3</displayName><value>FlowFile Stream, v3</value></allowableValues><allowableValues><description>A bin of FlowFiles will be combined into a single Version 2 FlowFile Stream</description><displayName>FlowFile Stream, v2</displayName><value>FlowFile Stream, v2</value></allowableValues><allowableValues><description>A bin of FlowFiles will be combined into a single Version 1 FlowFile Package</description><displayName>FlowFile Tar, v1</displayName><value>FlowFile Tar, v1</value></allowableValues><allowableValues><description>The contents of all FlowFiles will be concatenated together into a single FlowFile</description><displayName>Binary Concatenation</displayName><value>Binary Concatenation</value></allowableValues><allowableValues><description>The Avro contents of all FlowFiles will be concatenated together into a single FlowFile</description><displayName>Avro</displayName><value>Avro</value></allowableValues><defaultValue>Binary Concatenation</defaultValue><description>Determines the format that will be used to merge the content.</description><displayName>Merge Format</displayName><dynamic>false</dynamic><name>Merge Format</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Attribute Strategy</key><value><allowableValues><displayName>Keep Only Common Attributes</displayName><value>Keep Only Common Attributes</value></allowableValues><allowableValues><displayName>Keep All Unique Attributes</displayName><value>Keep All Unique Attributes</value></allowableValues><defaultValue>Keep Only Common Attributes</defaultValue><description>Determines which FlowFile attributes should be added to the bundle. If 'Keep All Unique Attributes' is selected, any attribute on any FlowFile that gets bundled will be kept unless its value conflicts with the value from another FlowFile. If 'Keep Only Common Attributes' is selected, only the attributes that exist on all FlowFiles in the bundle, with the same value, will be preserved.</description><displayName>Attribute Strategy</displayName><dynamic>false</dynamic><name>Attribute Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Correlation Attribute Name</key><value><description>If specified, like FlowFiles will be binned together, where 'like FlowFiles' means FlowFiles that have the same value for this Attribute. If not specified, FlowFiles are bundled by the order in which they are pulled from the queue.</description><displayName>Correlation Attribute Name</displayName><dynamic>false</dynamic><name>Correlation Attribute Name</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum Number of Entries</key><value><defaultValue>1</defaultValue><description>The minimum number of files to include in a bundle</description><displayName>Minimum Number of Entries</displayName><dynamic>false</dynamic><name>Minimum Number of Entries</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Number of Entries</key><value><description>The maximum number of files to include in a bundle. If not specified, there is no maximum.</description><displayName>Maximum Number of Entries</displayName><dynamic>false</dynamic><name>Maximum Number of Entries</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum Group Size</key><value><defaultValue>0 B</defaultValue><description>The minimum size of for the bundle</description><displayName>Minimum Group Size</displayName><dynamic>false</dynamic><name>Minimum Group Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Group Size</key><value><description>The maximum size for the bundle. If not specified, there is no maximum.</description><displayName>Maximum Group Size</displayName><dynamic>false</dynamic><name>Maximum Group Size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Bin Age</key><value><description>The maximum age of a Bin that will trigger a Bin to be complete. Expected format is &lt;duration&gt; &lt;time unit&gt; where &lt;duration&gt; is a positive integer and time unit is one of seconds, minutes, hours</description><displayName>Max Bin Age</displayName><dynamic>false</dynamic><name>Max Bin Age</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum number of Bins</key><value><defaultValue>100</defaultValue><description>Specifies the maximum number of bins that can be held in memory at any one time</description><displayName>Maximum number of Bins</displayName><dynamic>false</dynamic><name>Maximum number of Bins</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Delimiter Strategy</key><value><allowableValues><description>The values of Header, Footer, and Demarcator will be retrieved from the contents of a file</description><displayName>Filename</displayName><value>Filename</value></allowableValues><allowableValues><description>The values of Header, Footer, and Demarcator will be specified as property values</description><displayName>Text</displayName><value>Text</value></allowableValues><defaultValue>Filename</defaultValue><description>Determines if Header, Footer, and Demarcator should point to files containing the respective content, or if the values of the properties should be used as the content.</description><displayName>Delimiter Strategy</displayName><dynamic>false</dynamic><name>Delimiter Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Header File</key><value><description>Filename specifying the header to use. If not specified, no header is supplied. This property is valid only when using the binary-concatenation merge strategy; otherwise, it is ignored.</description><displayName>Header</displayName><dynamic>false</dynamic><name>Header File</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Footer File</key><value><description>Filename specifying the footer to use. If not specified, no footer is supplied. This property is valid only when using the binary-concatenation merge strategy; otherwise, it is ignored.</description><displayName>Footer</displayName><dynamic>false</dynamic><name>Footer File</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Demarcator File</key><value><description>Filename specifying the demarcator to use. If not specified, no demarcator is supplied. This property is valid only when using the binary-concatenation merge strategy; otherwise, it is ignored.</description><displayName>Demarcator</displayName><dynamic>false</dynamic><name>Demarcator File</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Compression Level</key><value><allowableValues><displayName>0</displayName><value>0</value></allowableValues><allowableValues><displayName>1</displayName><value>1</value></allowableValues><allowableValues><displayName>2</displayName><value>2</value></allowableValues><allowableValues><displayName>3</displayName><value>3</value></allowableValues><allowableValues><displayName>4</displayName><value>4</value></allowableValues><allowableValues><displayName>5</displayName><value>5</value></allowableValues><allowableValues><displayName>6</displayName><value>6</value></allowableValues><allowableValues><displayName>7</displayName><value>7</value></allowableValues><allowableValues><displayName>8</displayName><value>8</value></allowableValues><allowableValues><displayName>9</displayName><value>9</value></allowableValues><defaultValue>1</defaultValue><description>Specifies the compression level to use when using the Zip Merge Format; if not using the Zip Merge Format, this value is ignored</description><displayName>Compression Level</displayName><dynamic>false</dynamic><name>Compression Level</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Keep Path</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If using the Zip or Tar Merge Format, specifies whether or not the FlowFiles' paths should be included in their entry names; if using other merge strategy, this value is ignored</description><displayName>Keep Path</displayName><dynamic>false</dynamic><name>Keep Path</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Merge Strategy</key><value>Bin-Packing Algorithm</value></entry><entry><key>Merge Format</key><value>Binary Concatenation</value></entry><entry><key>Attribute Strategy</key><value>Keep Only Common Attributes</value></entry><entry><key>Correlation Attribute Name</key></entry><entry><key>Minimum Number of Entries</key><value>1</value></entry><entry><key>Maximum Number of Entries</key><value>1000</value></entry><entry><key>Minimum Group Size</key><value>0 B</value></entry><entry><key>Maximum Group Size</key></entry><entry><key>Max Bin Age</key><value>180 seconds</value></entry><entry><key>Maximum number of Bins</key><value>100</value></entry><entry><key>Delimiter Strategy</key><value>Filename</value></entry><entry><key>Header File</key></entry><entry><key>Footer File</key></entry><entry><key>Demarcator File</key></entry><entry><key>Compression Level</key><value>1</value></entry><entry><key>Keep Path</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>MergeContent</name><relationships><autoTerminate>true</autoTerminate><description>If the bundle cannot be created, all FlowFiles that would have been used to created the bundle will be transferred to failure</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>The FlowFile containing the merged content</description><name>merged</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The FlowFiles that were used to create the bundle</description><name>original</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.MergeContent</type></processors><processors><id>2fbbfc1b-b600-4398-b6fc-2448511328d7</id><parentGroupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</parentGroupId><position><x>84.82939253009084</x><y>480.0962520964515</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>2</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Routing Strategy</key><value><allowableValues><description>A copy of the FlowFile will be routed to each relationship whose corresponding expression evaluates to 'true'</description><displayName>Route to Property name</displayName><value>Route to Property name</value></allowableValues><allowableValues><description>Requires that all user-defined expressions evaluate to 'true' for the FlowFile to be considered a match</description><displayName>Route to 'matched' if all match</displayName><value>Route to 'match' if all match</value></allowableValues><allowableValues><description>Requires that at least one user-defined expression evaluate to 'true' for hte FlowFile to be considered a match</description><displayName>Route to 'matched' if any matches</displayName><value>Route to 'match' if any matches</value></allowableValues><defaultValue>Route to Property name</defaultValue><description>Specifies how to determine which relationship to use when evaluating the Expression Language</description><displayName>Routing Strategy</displayName><dynamic>false</dynamic><name>Routing Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>tweet</key><value><description></description><displayName>tweet</displayName><dynamic>true</dynamic><name>tweet</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Routing Strategy</key><value>Route to Property name</value></entry><entry><key>tweet</key><value>${twitter.msg:isEmpty():not()}</value></entry></properties><runDurationMillis>25</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Find only Tweets</name><relationships><autoTerminate>false</autoTerminate><description></description><name>tweet</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that do not match any user-define expression will be routed here</description><name>unmatched</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.RouteOnAttribute</type></processors><processors><id>1fe5dc0f-ef2c-44a5-832f-e5c4af89730a</id><parentGroupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</parentGroupId><position><x>85.39149961627248</x><y>289.15470851734995</y></position><config><bulletinLevel>ERROR</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Destination</key><value><allowableValues><displayName>flowfile-content</displayName><value>flowfile-content</value></allowableValues><allowableValues><displayName>flowfile-attribute</displayName><value>flowfile-attribute</value></allowableValues><defaultValue>flowfile-content</defaultValue><description>Indicates whether the results of the JsonPath evaluation are written to the FlowFile content or a FlowFile attribute; if using attribute, must specify the Attribute Name property. If set to flowfile-content, only one JsonPath may be specified, and the property name is ignored.</description><displayName>Destination</displayName><dynamic>false</dynamic><name>Destination</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Return Type</key><value><allowableValues><displayName>auto-detect</displayName><value>auto-detect</value></allowableValues><allowableValues><displayName>json</displayName><value>json</value></allowableValues><allowableValues><displayName>scalar</displayName><value>scalar</value></allowableValues><defaultValue>auto-detect</defaultValue><description>Indicates the desired return type of the JSON Path expressions.  Selecting 'auto-detect' will set the return type to 'json' for a Destination of 'flowfile-content', and 'scalar' for a Destination of 'flowfile-attribute'.</description><displayName>Return Type</displayName><dynamic>false</dynamic><name>Return Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Not Found Behavior</key><value><allowableValues><displayName>warn</displayName><value>warn</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><defaultValue>ignore</defaultValue><description>Indicates how to handle missing JSON path expressions when destination is set to 'flowfile-attribute'. Selecting 'warn' will generate a warning when a JSON path expression is not found.</description><displayName>Path Not Found Behavior</displayName><dynamic>false</dynamic><name>Path Not Found Behavior</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Null Value Representation</key><value><allowableValues><displayName>empty string</displayName><value>empty string</value></allowableValues><allowableValues><displayName>the string 'null'</displayName><value>the string 'null'</value></allowableValues><defaultValue>empty string</defaultValue><description>Indicates the desired representation of JSON Path expressions resulting in a null value.</description><displayName>Null Value Representation</displayName><dynamic>false</dynamic><name>Null Value Representation</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>language</key><value><description></description><displayName>language</displayName><dynamic>true</dynamic><name>language</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>twitter.handle</key><value><description></description><displayName>twitter.handle</displayName><dynamic>true</dynamic><name>twitter.handle</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>twitter.hashtags</key><value><description></description><displayName>twitter.hashtags</displayName><dynamic>true</dynamic><name>twitter.hashtags</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>twitter.msg</key><value><description></description><displayName>twitter.msg</displayName><dynamic>true</dynamic><name>twitter.msg</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>twitter.time</key><value><description></description><displayName>twitter.time</displayName><dynamic>true</dynamic><name>twitter.time</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>twitter.tweet_id</key><value><description></description><displayName>twitter.tweet_id</displayName><dynamic>true</dynamic><name>twitter.tweet_id</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>twitter.unixtime</key><value><description></description><displayName>twitter.unixtime</displayName><dynamic>true</dynamic><name>twitter.unixtime</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>twitter.urls</key><value><description></description><displayName>twitter.urls</displayName><dynamic>true</dynamic><name>twitter.urls</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>twitter.user</key><value><description></description><displayName>twitter.user</displayName><dynamic>true</dynamic><name>twitter.user</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Destination</key><value>flowfile-attribute</value></entry><entry><key>Return Type</key><value>auto-detect</value></entry><entry><key>Path Not Found Behavior</key><value>ignore</value></entry><entry><key>Null Value Representation</key><value>empty string</value></entry><entry><key>language</key><value>$.lang</value></entry><entry><key>twitter.handle</key><value>$.user.screen_name</value></entry><entry><key>twitter.hashtags</key><value>$.entities.hashtags[0].text</value></entry><entry><key>twitter.msg</key><value>$.text</value></entry><entry><key>twitter.time</key><value>$.created_at</value></entry><entry><key>twitter.tweet_id</key><value>$.id</value></entry><entry><key>twitter.unixtime</key><value>$.timestamp_ms</value></entry><entry><key>twitter.urls</key><value>$.entities.urls[0].expanded_url</value></entry><entry><key>twitter.user</key><value>$.user.name</value></entry></properties><runDurationMillis>25</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Pull Key Attributes</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath cannot be evaluated against the content of the FlowFile; for instance, if the FlowFile is not valid JSON</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath is successfully evaluated and the FlowFile is modified as a result</description><name>matched</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath does not match the content of the FlowFile and the Destination is set to flowfile-content</description><name>unmatched</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.EvaluateJsonPath</type></processors><processors><id>d9dac9f3-a66e-4b71-add1-522dff954283</id><parentGroupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</parentGroupId><position><x>84.49566117632543</x><y>670.9401773721813</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Solr Type</key><value><allowableValues><description>A SolrCloud instance.</description><displayName>Cloud</displayName><value>Cloud</value></allowableValues><allowableValues><description>A stand-alone Solr instance.</description><displayName>Standard</displayName><value>Standard</value></allowableValues><defaultValue>Standard</defaultValue><description>The type of Solr instance, Cloud or Standard.</description><displayName>Solr Type</displayName><dynamic>false</dynamic><name>Solr Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Solr Location</key><value><description>The Solr url for a Solr Type of Standard (ex: http://localhost:8984/solr/gettingstarted), or the ZooKeeper hosts for a Solr Type of Cloud (ex: localhost:9983).</description><displayName>Solr Location</displayName><dynamic>false</dynamic><name>Solr Location</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Collection</key><value><description>The Solr collection name, only used with a Solr Type of Cloud</description><displayName>Collection</displayName><dynamic>false</dynamic><name>Collection</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Content Stream Path</key><value><defaultValue>/update/json/docs</defaultValue><description>The path in Solr to post the ContentStream</description><displayName>Content Stream Path</displayName><dynamic>false</dynamic><name>Content Stream Path</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Content-Type</key><value><defaultValue>application/json</defaultValue><description>Content-Type being sent to Solr</description><displayName>Content-Type</displayName><dynamic>false</dynamic><name>Content-Type</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Commit Within</key><value><description>The number of milliseconds before the given update is committed</description><displayName>Commit Within</displayName><dynamic>false</dynamic><name>Commit Within</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.1</key><value><description>Specifies the value to send for the 'f.1' request parameter</description><displayName>f.1</displayName><dynamic>true</dynamic><name>f.1</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.10</key><value><description>Specifies the value to send for the 'f.10' request parameter</description><displayName>f.10</displayName><dynamic>true</dynamic><name>f.10</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.11</key><value><description>Specifies the value to send for the 'f.11' request parameter</description><displayName>f.11</displayName><dynamic>true</dynamic><name>f.11</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.12</key><value><description>Specifies the value to send for the 'f.12' request parameter</description><displayName>f.12</displayName><dynamic>true</dynamic><name>f.12</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.13</key><value><description>Specifies the value to send for the 'f.13' request parameter</description><displayName>f.13</displayName><dynamic>true</dynamic><name>f.13</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.14</key><value><description>Specifies the value to send for the 'f.14' request parameter</description><displayName>f.14</displayName><dynamic>true</dynamic><name>f.14</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.15</key><value><description>Specifies the value to send for the 'f.15' request parameter</description><displayName>f.15</displayName><dynamic>true</dynamic><name>f.15</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.16</key><value><description>Specifies the value to send for the 'f.16' request parameter</description><displayName>f.16</displayName><dynamic>true</dynamic><name>f.16</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.17</key><value><description>Specifies the value to send for the 'f.17' request parameter</description><displayName>f.17</displayName><dynamic>true</dynamic><name>f.17</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.18</key><value><description>Specifies the value to send for the 'f.18' request parameter</description><displayName>f.18</displayName><dynamic>true</dynamic><name>f.18</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.19</key><value><description>Specifies the value to send for the 'f.19' request parameter</description><displayName>f.19</displayName><dynamic>true</dynamic><name>f.19</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.2</key><value><description>Specifies the value to send for the 'f.2' request parameter</description><displayName>f.2</displayName><dynamic>true</dynamic><name>f.2</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.20</key><value><description>Specifies the value to send for the 'f.20' request parameter</description><displayName>f.20</displayName><dynamic>true</dynamic><name>f.20</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.21</key><value><description>Specifies the value to send for the 'f.21' request parameter</description><displayName>f.21</displayName><dynamic>true</dynamic><name>f.21</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.22</key><value><description>Specifies the value to send for the 'f.22' request parameter</description><displayName>f.22</displayName><dynamic>true</dynamic><name>f.22</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.23</key><value><description>Specifies the value to send for the 'f.23' request parameter</description><displayName>f.23</displayName><dynamic>true</dynamic><name>f.23</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.24</key><value><description>Specifies the value to send for the 'f.24' request parameter</description><displayName>f.24</displayName><dynamic>true</dynamic><name>f.24</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.25</key><value><description>Specifies the value to send for the 'f.25' request parameter</description><displayName>f.25</displayName><dynamic>true</dynamic><name>f.25</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.26</key><value><description>Specifies the value to send for the 'f.26' request parameter</description><displayName>f.26</displayName><dynamic>true</dynamic><name>f.26</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.27</key><value><description>Specifies the value to send for the 'f.27' request parameter</description><displayName>f.27</displayName><dynamic>true</dynamic><name>f.27</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.28</key><value><description>Specifies the value to send for the 'f.28' request parameter</description><displayName>f.28</displayName><dynamic>true</dynamic><name>f.28</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.29</key><value><description>Specifies the value to send for the 'f.29' request parameter</description><displayName>f.29</displayName><dynamic>true</dynamic><name>f.29</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.3</key><value><description>Specifies the value to send for the 'f.3' request parameter</description><displayName>f.3</displayName><dynamic>true</dynamic><name>f.3</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.30</key><value><description>Specifies the value to send for the 'f.30' request parameter</description><displayName>f.30</displayName><dynamic>true</dynamic><name>f.30</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.31</key><value><description>Specifies the value to send for the 'f.31' request parameter</description><displayName>f.31</displayName><dynamic>true</dynamic><name>f.31</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.32</key><value><description>Specifies the value to send for the 'f.32' request parameter</description><displayName>f.32</displayName><dynamic>true</dynamic><name>f.32</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.33</key><value><description>Specifies the value to send for the 'f.33' request parameter</description><displayName>f.33</displayName><dynamic>true</dynamic><name>f.33</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.34</key><value><description>Specifies the value to send for the 'f.34' request parameter</description><displayName>f.34</displayName><dynamic>true</dynamic><name>f.34</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.35</key><value><description>Specifies the value to send for the 'f.35' request parameter</description><displayName>f.35</displayName><dynamic>true</dynamic><name>f.35</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.36</key><value><description>Specifies the value to send for the 'f.36' request parameter</description><displayName>f.36</displayName><dynamic>true</dynamic><name>f.36</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.37</key><value><description>Specifies the value to send for the 'f.37' request parameter</description><displayName>f.37</displayName><dynamic>true</dynamic><name>f.37</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.38</key><value><description>Specifies the value to send for the 'f.38' request parameter</description><displayName>f.38</displayName><dynamic>true</dynamic><name>f.38</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.39</key><value><description>Specifies the value to send for the 'f.39' request parameter</description><displayName>f.39</displayName><dynamic>true</dynamic><name>f.39</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.4</key><value><description>Specifies the value to send for the 'f.4' request parameter</description><displayName>f.4</displayName><dynamic>true</dynamic><name>f.4</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.40</key><value><description>Specifies the value to send for the 'f.40' request parameter</description><displayName>f.40</displayName><dynamic>true</dynamic><name>f.40</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.41</key><value><description>Specifies the value to send for the 'f.41' request parameter</description><displayName>f.41</displayName><dynamic>true</dynamic><name>f.41</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.42</key><value><description>Specifies the value to send for the 'f.42' request parameter</description><displayName>f.42</displayName><dynamic>true</dynamic><name>f.42</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.43</key><value><description>Specifies the value to send for the 'f.43' request parameter</description><displayName>f.43</displayName><dynamic>true</dynamic><name>f.43</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.44</key><value><description>Specifies the value to send for the 'f.44' request parameter</description><displayName>f.44</displayName><dynamic>true</dynamic><name>f.44</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.45</key><value><description>Specifies the value to send for the 'f.45' request parameter</description><displayName>f.45</displayName><dynamic>true</dynamic><name>f.45</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.46</key><value><description>Specifies the value to send for the 'f.46' request parameter</description><displayName>f.46</displayName><dynamic>true</dynamic><name>f.46</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.47</key><value><description>Specifies the value to send for the 'f.47' request parameter</description><displayName>f.47</displayName><dynamic>true</dynamic><name>f.47</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.48</key><value><description>Specifies the value to send for the 'f.48' request parameter</description><displayName>f.48</displayName><dynamic>true</dynamic><name>f.48</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.49</key><value><description>Specifies the value to send for the 'f.49' request parameter</description><displayName>f.49</displayName><dynamic>true</dynamic><name>f.49</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.5</key><value><description>Specifies the value to send for the 'f.5' request parameter</description><displayName>f.5</displayName><dynamic>true</dynamic><name>f.5</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.50</key><value><description>Specifies the value to send for the 'f.50' request parameter</description><displayName>f.50</displayName><dynamic>true</dynamic><name>f.50</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.51</key><value><description>Specifies the value to send for the 'f.51' request parameter</description><displayName>f.51</displayName><dynamic>true</dynamic><name>f.51</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.52</key><value><description>Specifies the value to send for the 'f.52' request parameter</description><displayName>f.52</displayName><dynamic>true</dynamic><name>f.52</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.53</key><value><description>Specifies the value to send for the 'f.53' request parameter</description><displayName>f.53</displayName><dynamic>true</dynamic><name>f.53</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.54</key><value><description>Specifies the value to send for the 'f.54' request parameter</description><displayName>f.54</displayName><dynamic>true</dynamic><name>f.54</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.55</key><value><description>Specifies the value to send for the 'f.55' request parameter</description><displayName>f.55</displayName><dynamic>true</dynamic><name>f.55</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.56</key><value><description>Specifies the value to send for the 'f.56' request parameter</description><displayName>f.56</displayName><dynamic>true</dynamic><name>f.56</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.57</key><value><description>Specifies the value to send for the 'f.57' request parameter</description><displayName>f.57</displayName><dynamic>true</dynamic><name>f.57</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.58</key><value><description>Specifies the value to send for the 'f.58' request parameter</description><displayName>f.58</displayName><dynamic>true</dynamic><name>f.58</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.59</key><value><description>Specifies the value to send for the 'f.59' request parameter</description><displayName>f.59</displayName><dynamic>true</dynamic><name>f.59</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.6</key><value><description>Specifies the value to send for the 'f.6' request parameter</description><displayName>f.6</displayName><dynamic>true</dynamic><name>f.6</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.60</key><value><description>Specifies the value to send for the 'f.60' request parameter</description><displayName>f.60</displayName><dynamic>true</dynamic><name>f.60</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.61</key><value><description>Specifies the value to send for the 'f.61' request parameter</description><displayName>f.61</displayName><dynamic>true</dynamic><name>f.61</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.62</key><value><description>Specifies the value to send for the 'f.62' request parameter</description><displayName>f.62</displayName><dynamic>true</dynamic><name>f.62</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.63</key><value><description>Specifies the value to send for the 'f.63' request parameter</description><displayName>f.63</displayName><dynamic>true</dynamic><name>f.63</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.64</key><value><description>Specifies the value to send for the 'f.64' request parameter</description><displayName>f.64</displayName><dynamic>true</dynamic><name>f.64</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.65</key><value><description>Specifies the value to send for the 'f.65' request parameter</description><displayName>f.65</displayName><dynamic>true</dynamic><name>f.65</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.66</key><value><description>Specifies the value to send for the 'f.66' request parameter</description><displayName>f.66</displayName><dynamic>true</dynamic><name>f.66</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.67</key><value><description>Specifies the value to send for the 'f.67' request parameter</description><displayName>f.67</displayName><dynamic>true</dynamic><name>f.67</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.68</key><value><description>Specifies the value to send for the 'f.68' request parameter</description><displayName>f.68</displayName><dynamic>true</dynamic><name>f.68</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.69</key><value><description>Specifies the value to send for the 'f.69' request parameter</description><displayName>f.69</displayName><dynamic>true</dynamic><name>f.69</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.7</key><value><description>Specifies the value to send for the 'f.7' request parameter</description><displayName>f.7</displayName><dynamic>true</dynamic><name>f.7</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.70</key><value><description>Specifies the value to send for the 'f.70' request parameter</description><displayName>f.70</displayName><dynamic>true</dynamic><name>f.70</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.71</key><value><description>Specifies the value to send for the 'f.71' request parameter</description><displayName>f.71</displayName><dynamic>true</dynamic><name>f.71</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.72</key><value><description>Specifies the value to send for the 'f.72' request parameter</description><displayName>f.72</displayName><dynamic>true</dynamic><name>f.72</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.73</key><value><description>Specifies the value to send for the 'f.73' request parameter</description><displayName>f.73</displayName><dynamic>true</dynamic><name>f.73</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.74</key><value><description>Specifies the value to send for the 'f.74' request parameter</description><displayName>f.74</displayName><dynamic>true</dynamic><name>f.74</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.75</key><value><description>Specifies the value to send for the 'f.75' request parameter</description><displayName>f.75</displayName><dynamic>true</dynamic><name>f.75</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.76</key><value><description>Specifies the value to send for the 'f.76' request parameter</description><displayName>f.76</displayName><dynamic>true</dynamic><name>f.76</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.8</key><value><description>Specifies the value to send for the 'f.8' request parameter</description><displayName>f.8</displayName><dynamic>true</dynamic><name>f.8</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.9</key><value><description>Specifies the value to send for the 'f.9' request parameter</description><displayName>f.9</displayName><dynamic>true</dynamic><name>f.9</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>split</key><value><description>Specifies the value to send for the 'split' request parameter</description><displayName>split</displayName><dynamic>true</dynamic><name>split</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Solr Type</key><value>Cloud</value></entry><entry><key>Solr Location</key><value>localhost:2181</value></entry><entry><key>Collection</key><value>tweets</value></entry><entry><key>Content Stream Path</key><value>/update/json/docs</value></entry><entry><key>Content-Type</key><value>application/json</value></entry><entry><key>Commit Within</key><value>1000</value></entry><entry><key>f.1</key><value>created_at_dt:/created_at</value></entry><entry><key>f.10</key><value>tweet_place_country_code_s:/place/country_code</value></entry><entry><key>f.11</key><value>tweet_place_full_name_t:/place/full_name</value></entry><entry><key>f.12</key><value>tweet_place_url_s:/place/url</value></entry><entry><key>f.13</key><value>tweet_lang_s:/lang</value></entry><entry><key>f.14</key><value>user_id_l:/user/id</value></entry><entry><key>f.15</key><value>user_name_t:/user/name</value></entry><entry><key>f.16</key><value>user_screen_name_s:/user/screen_name</value></entry><entry><key>f.17</key><value>user_location_t:/user/location</value></entry><entry><key>f.18</key><value>user_utc_offset_i:/user/utc_offset</value></entry><entry><key>f.19</key><value>user_time_zone_s:/user/time_zone</value></entry><entry><key>f.2</key><value>timestamp_ms_tl:/timestamp_ms</value></entry><entry><key>f.20</key><value>user_geo_enabled_b:/user/geo_enabled</value></entry><entry><key>f.21</key><value>user_lang_s:/user/lang</value></entry><entry><key>f.22</key><value>user_profile_image_url_s:/user/profile_image_url</value></entry><entry><key>f.23</key><value>in_reply_to_user_id_l:/in_reply_to_user_id</value></entry><entry><key>f.24</key><value>in_reply_to_screen_name_s:/in_reply_to_screen_name</value></entry><entry><key>f.25</key><value>tweet_entities_hashtags_t:/entities/hashtags/text/</value></entry><entry><key>f.26</key><value>tweet_entities_urls_t:/entities/urls/expanded_url/</value></entry><entry><key>f.27</key><value>quoted_status_id_l:/quoted_status_id</value></entry><entry><key>f.28</key><value>quoted_status_created_at_dt:/quoted_status/created_at</value></entry><entry><key>f.29</key><value>quoted_status_in_reply_to_status_id_l:/quoted_status/in_reply_to_status_id</value></entry><entry><key>f.3</key><value>id:/id</value></entry><entry><key>f.30</key><value>quoted_status_in_reply_to_user_id_l:/quoted_status/in_reply_to_user_id</value></entry><entry><key>f.31</key><value>quoted_status_in_reply_to_screen_name_s:/quoted_status/in_reply_to_screen_name</value></entry><entry><key>f.32</key><value>quoted_status_tweet_text_t:/quoted_status/text</value></entry><entry><key>f.33</key><value>quoted_status_tweet_device_source_s:/quoted_status/source</value></entry><entry><key>f.34</key><value>quoted_status_tweet_geo_s:/quoted_status/geo</value></entry><entry><key>f.35</key><value>quoted_status_tweet_coordinates_rpt:/quoted_status/coordinates/coordinates/</value></entry><entry><key>f.36</key><value>quoted_status_tweet_place_country_t:/quoted_status/place/country</value></entry><entry><key>f.37</key><value>quoted_status_tweet_place_country_code_s:/quoted_status/place/country_code</value></entry><entry><key>f.38</key><value>quoted_status_tweet_place_full_name_t:/quoted_status/place/full_name</value></entry><entry><key>f.39</key><value>quoted_status_tweet_place_url_s:/quoted_status/place/url</value></entry><entry><key>f.4</key><value>in_reply_to_status_id_l:/in_reply_to_status_id</value></entry><entry><key>f.40</key><value>quoted_status_tweet_lang_s:/quoted_status/lang</value></entry><entry><key>f.41</key><value>quoted_status_user_id_l:/quoted_status/user/id</value></entry><entry><key>f.42</key><value>quoted_status_user_name_t:/quoted_status/user/name</value></entry><entry><key>f.43</key><value>quoted_status_user_screen_name_s:/quoted_status/user/screen_name</value></entry><entry><key>f.44</key><value>quoted_status_user_location_t:/quoted_status/user/location</value></entry><entry><key>f.45</key><value>quoted_status_user_utc_offset_i:/quoted_status/user/utc_offset</value></entry><entry><key>f.46</key><value>quoted_status_user_time_zone_s:/quoted_status/user/time_zone</value></entry><entry><key>f.47</key><value>quoted_status_user_geo_enabled_b:/quoted_status/user/geo_enabled</value></entry><entry><key>f.48</key><value>quoted_status_user_lang_s:/quoted_status/user/lang</value></entry><entry><key>f.49</key><value>quoted_status_user_profile_image_url_s:/quoted_status/user/profile_image_url</value></entry><entry><key>f.5</key><value>tweet_text_t:/text</value></entry><entry><key>f.50</key><value>quoted_status_tweet_entities_hashtags_t:/quoted_status/entities/hashtags/text/</value></entry><entry><key>f.51</key><value>quoted_status_tweet_entities_urls_t:/quoted_status/entities/urls/</value></entry><entry><key>f.52</key><value>retweeted_status_id_l:/retweeted_status_id</value></entry><entry><key>f.53</key><value>retweeted_status_created_at_dt:/retweeted_status/created_at</value></entry><entry><key>f.54</key><value>retweeted_status_in_reply_to_status_id_l:/retweeted_status/in_reply_to_status_id</value></entry><entry><key>f.55</key><value>retweeted_status_in_reply_to_user_id_l:/retweeted_status/in_reply_to_user_id</value></entry><entry><key>f.56</key><value>retweeted_status_in_reply_to_screen_name:/retweeted_status/in_reply_to_screen_name</value></entry><entry><key>f.57</key><value>retweeted_status_tweet_text_t:/retweeted_status/text</value></entry><entry><key>f.58</key><value>retweeted_status_tweet_device_source_s:/retweeted_status/source</value></entry><entry><key>f.59</key><value>retweeted_status_tweet_geo_s:/retweeted_status/geo</value></entry><entry><key>f.6</key><value>tweet_device_source_s:/source</value></entry><entry><key>f.60</key><value>retweeted_status_tweet_coordinates_rpt:/retweeted_status/coordinates/coordinates/</value></entry><entry><key>f.61</key><value>retweeted_status_tweet_place_country_t:/retweeted_status/place/country</value></entry><entry><key>f.62</key><value>retweeted_status_tweet_place_country_code_s:/retweeted_status/place/country_code</value></entry><entry><key>f.63</key><value>retweeted_status_tweet_place_full_name_t:/retweeted_status/place/full_name</value></entry><entry><key>f.64</key><value>retweeted_status_tweet_place_url_s:/retweeted_status/place/url</value></entry><entry><key>f.65</key><value>retweeted_status_tweet_lang_s:/retweeted_status/lang</value></entry><entry><key>f.66</key><value>retweeted_status_user_id_l:/retweeted_status/user/id</value></entry><entry><key>f.67</key><value>retweeted_status_user_name_t:/retweeted_status/user/name</value></entry><entry><key>f.68</key><value>retweeted_status_user_screen_name_s:/retweeted_status/user/screen_name</value></entry><entry><key>f.69</key><value>retweeted_status_user_location_t:/retweeted_status/user/location</value></entry><entry><key>f.7</key><value>tweet_geo_s:/geo</value></entry><entry><key>f.70</key><value>retweeted_status_user_utc_offset_i:/retweeted_status/user/utc_offset</value></entry><entry><key>f.71</key><value>retweeted_status_user_time_zone_s:/retweeted_status/user/time_zone</value></entry><entry><key>f.72</key><value>retweeted_status_user_geo_enabled_b:/retweeted_status/user/geo_enabled</value></entry><entry><key>f.73</key><value>retweeted_status_user_lang_s:/retweeted_status/user/lang</value></entry><entry><key>f.74</key><value>retweeted_status_user_profile_image_url_s:/retweeted_status/user/profile_image_url</value></entry><entry><key>f.75</key><value>retweeted_status_tweet_entities_hashtags_t:/retweeted_status/entities/hashtags/text/</value></entry><entry><key>f.76</key><value>retweeted_status_tweet_entities_urls_t:/retweeted_status/entities/urls/expanded_url/</value></entry><entry><key>f.8</key><value>tweet_coordinates_rpt:/coordinates/coordinates/</value></entry><entry><key>f.9</key><value>tweet_place_country_t:/place/country</value></entry><entry><key>split</key><value>/</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutSolrContentStream</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that failed because Solr is unreachable</description><name>connection_failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that failed for any reason other than Solr being unreachable</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The original FlowFile</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.solr.PutSolrContentStream</type></processors><processors><id>0afca0ed-37b4-4f5c-906a-b78dd74c9745</id><parentGroupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</parentGroupId><position><x>635.4425508851389</x><y>481.60804334900763</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Regular Expression</key><value><defaultValue>(?s:^.*$)</defaultValue><description>The Search Value to search for in the FlowFile content. Only used for 'Literal Replace' and 'Regex Replace' matching strategies</description><displayName>Search Value</displayName><dynamic>false</dynamic><name>Regular Expression</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Replacement Value</key><value><defaultValue>$1</defaultValue><description>The value to insert using the 'Replacement Strategy'. Using &quot;Regex Replace&quot; back-references to Regular Expression capturing groups are supported, but back-references that reference capturing groups that do not exist in the regular expression will be treated as literal value. Back References may also be referenced using the Expression Language, as '$1', '$2', etc. The single-tick marks MUST be included, as these variables are not &quot;Standard&quot; attribute names (attribute names must be quoted unless they contain only numbers, letters, and _).</description><displayName>Replacement Value</displayName><dynamic>false</dynamic><name>Replacement Value</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The Character Set in which the file is encoded</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Buffer Size</key><value><defaultValue>1 MB</defaultValue><description>Specifies the maximum amount of data to buffer (per file or per line, depending on the Evaluation Mode) in order to apply the replacement. If 'Entire Text' (in Evaluation Mode) is selected and the FlowFile is larger than this value, the FlowFile will be routed to 'failure'. In 'Line-by-Line' Mode, if a single line is larger than this value, the FlowFile will be routed to 'failure'. A default value of 1 MB is provided, primarily for 'Entire Text' mode. In 'Line-by-Line' Mode, a value such as 8 KB or 16 KB is suggested. This value is ignored if the &lt;Replacement Strategy&gt; property is set to one of: Append, Prepend, Always Replace</description><displayName>Maximum Buffer Size</displayName><dynamic>false</dynamic><name>Maximum Buffer Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Replacement Strategy</key><value><allowableValues><description>Insert the Replacement Value at the beginning of the FlowFile or the beginning of each line (depending on the Evaluation Mode). For &quot;Line-by-Line&quot; Evaluation Mode, the value will be prepended to each line. For &quot;Entire Text&quot; evaluation mode, the value will be prepended to the entire text.</description><displayName>Prepend</displayName><value>Prepend</value></allowableValues><allowableValues><description>Insert the Replacement Value at the end of the FlowFile or the end of each line (depending on the Evluation Mode). For &quot;Line-by-Line&quot; Evaluation Mode, the value will be appended to each line. For &quot;Entire Text&quot; evaluation mode, the value will be appended to the entire text.</description><displayName>Append</displayName><value>Append</value></allowableValues><allowableValues><description>Interpret the Search Value as a Regular Expression and replace all matches with the Replacement Value. The Replacement Value may reference Capturing Groups used in the Search Value by using a dollar-sign followed by the Capturing Group number, such as $1 or $2. If the Search Value is set to .* then everything is replaced without even evaluating the Regular Expression.</description><displayName>Regex Replace</displayName><value>Regex Replace</value></allowableValues><allowableValues><description>Search for all instances of the Search Value and replace the matches with the Replacement Value.</description><displayName>Literal Replace</displayName><value>Literal Replace</value></allowableValues><allowableValues><description>Always replaces the entire line or the entire contents of the FlowFile (depending on the value of the &lt;Evaluation Mode&gt; property) and does not bother searching for any value. When this strategy is chosen, the &lt;Search Value&gt; property is ignored.</description><displayName>Always Replace</displayName><value>Always Replace</value></allowableValues><defaultValue>Regex Replace</defaultValue><description>The strategy for how and what to replace within the FlowFile's text content.</description><displayName>Replacement Strategy</displayName><dynamic>false</dynamic><name>Replacement Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Evaluation Mode</key><value><allowableValues><displayName>Line-by-Line</displayName><value>Line-by-Line</value></allowableValues><allowableValues><displayName>Entire text</displayName><value>Entire text</value></allowableValues><defaultValue>Entire text</defaultValue><description>Run the 'Replacement Strategy' against each line separately (Line-by-Line) or buffer the entire file into memory (Entire Text) and run against that.</description><displayName>Evaluation Mode</displayName><dynamic>false</dynamic><name>Evaluation Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Regular Expression</key><value>(?s:^(.*)$)</value></entry><entry><key>Replacement Value</key><value>${twitter.tweet_id}|${twitter.unixtime}|${twitter.time}|${twitter.handle}|${twitter.msg:replace('$',''):replace('\n','')}|$1</value></entry><entry><key>Character Set</key><value>UTF-8</value></entry><entry><key>Maximum Buffer Size</key><value>1 MB</value></entry><entry><key>Replacement Strategy</key></entry><entry><key>Evaluation Mode</key><value>Entire text</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ReplaceText</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that could not be updated are routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles that have been successfully processed are routed to this relationship. This includes both FlowFiles that had text replaced and those that did not.</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ReplaceText</type></processors><processors><id>e3b9d716-a9cb-4a8b-8fae-0a88cab57d2d</id><parentGroupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</parentGroupId><position><x>85.11899456427903</x><y>860.5100236024812</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Hadoop Configuration Resources</key><value><description>A file or comma separated list of files which contains the Hadoop file system configuration. Without this, Hadoop will search the classpath for a 'core-site.xml' and 'hdfs-site.xml' file or will revert to a default configuration.</description><displayName>Hadoop Configuration Resources</displayName><dynamic>false</dynamic><name>Hadoop Configuration Resources</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Principal</key><value><description>Kerberos principal to authenticate as. Requires nifi.kerberos.krb5.file to be set in your nifi.properties</description><displayName>Kerberos Principal</displayName><dynamic>false</dynamic><name>Kerberos Principal</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Keytab</key><value><description>Kerberos keytab associated with the principal. Requires nifi.kerberos.krb5.file to be set in your nifi.properties</description><displayName>Kerberos Keytab</displayName><dynamic>false</dynamic><name>Kerberos Keytab</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Relogin Period</key><value><defaultValue>4 hours</defaultValue><description>Period of time which should pass before attempting a kerberos relogin</description><displayName>Kerberos Relogin Period</displayName><dynamic>false</dynamic><name>Kerberos Relogin Period</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Directory</key><value><description>The parent HDFS directory to which files should be written</description><displayName>Directory</displayName><dynamic>false</dynamic><name>Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Conflict Resolution Strategy</key><value><allowableValues><displayName>replace</displayName><value>replace</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>fail</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Conflict Resolution Strategy</displayName><dynamic>false</dynamic><name>Conflict Resolution Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Block Size</key><value><description>Size of each block as written to HDFS. This overrides the Hadoop Configuration</description><displayName>Block Size</displayName><dynamic>false</dynamic><name>Block Size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>IO Buffer Size</key><value><description>Amount of memory to use to buffer file contents during IO. This overrides the Hadoop Configuration</description><displayName>IO Buffer Size</displayName><dynamic>false</dynamic><name>IO Buffer Size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Replication</key><value><description>Number of times that HDFS will replicate each file. This overrides the Hadoop Configuration</description><displayName>Replication</displayName><dynamic>false</dynamic><name>Replication</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Permissions umask</key><value><description>A umask represented as an octal number which determines the permissions of files written to HDFS. This overrides the Hadoop Configuration dfs.umaskmode</description><displayName>Permissions umask</displayName><dynamic>false</dynamic><name>Permissions umask</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remote Owner</key><value><description>Changes the owner of the HDFS file to this value after it is written. This only works if NiFi is running as a user that has HDFS super user privilege to change owner</description><displayName>Remote Owner</displayName><dynamic>false</dynamic><name>Remote Owner</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remote Group</key><value><description>Changes the group of the HDFS file to this value after it is written. This only works if NiFi is running as a user that has HDFS super user privilege to change group</description><displayName>Remote Group</displayName><dynamic>false</dynamic><name>Remote Group</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Compression codec</key><value><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><allowableValues><displayName>DEFAULT</displayName><value>DEFAULT</value></allowableValues><allowableValues><displayName>BZIP</displayName><value>BZIP</value></allowableValues><allowableValues><displayName>GZIP</displayName><value>GZIP</value></allowableValues><allowableValues><displayName>LZ4</displayName><value>LZ4</value></allowableValues><allowableValues><displayName>SNAPPY</displayName><value>SNAPPY</value></allowableValues><allowableValues><displayName>AUTOMATIC</displayName><value>AUTOMATIC</value></allowableValues><defaultValue>NONE</defaultValue><description></description><displayName>Compression codec</displayName><dynamic>false</dynamic><name>Compression codec</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Hadoop Configuration Resources</key><value>/etc/hadoop/conf/core-site.xml</value></entry><entry><key>Kerberos Principal</key></entry><entry><key>Kerberos Keytab</key></entry><entry><key>Kerberos Relogin Period</key></entry><entry><key>Directory</key><value>/tmp/tweets_staging</value></entry><entry><key>Conflict Resolution Strategy</key><value>replace</value></entry><entry><key>Block Size</key></entry><entry><key>IO Buffer Size</key></entry><entry><key>Replication</key><value>1</value></entry><entry><key>Permissions umask</key></entry><entry><key>Remote Owner</key></entry><entry><key>Remote Group</key></entry><entry><key>Compression codec</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutHDFS</name><relationships><autoTerminate>false</autoTerminate><description>Files that could not be written to HDFS for some reason are transferred to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Files that have been successfully written to HDFS are transferred to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.hadoop.PutHDFS</type></processors></snippet><timestamp>12/22/2015 20:35:38 UTC</timestamp></template>
